<h1 id="tableLabel">Météo</h1>

<p *ngIf="!weatherModelCopy">Chargement...</p>

<div>
  <input
    style="padding-bottom: 20px"
    #box
    type="text"
    placeholder="Entrez le nom d'une ville"
    name="city"
  />
</div>

<button (click)="getValue(box.value)">Rechercher</button>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="weatherModelCopy">
  <thead>
    <tr>
      <th>Lieu</th>
      <th>Date</th>
      <th>Heure</th>
      <th>Température</th>
      <th>Ressenti</th>
      <th>Humidiité</th>
      <th>Conditions</th>
      <th>Lever du soleil</th>
      <th>Coucher du soleil</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ weatherModelCopy.address }}</td>
      <td>{{ weatherModelCopy.currentConditions.dateTime }}</td>
      <td>{{ weatherModelCopy.currentConditions.dateTime }}</td>
      <td>Il fait actuellement {{ weatherModelCopy.currentConditions.temp }}°</td>
      <td>
        Il y a actuellement un ressenti de
        {{ weatherModelCopy.currentConditions.feelslike }}°
      </td>
      <td>
        Le taux d'humidité est de {{ weatherModelCopy.currentConditions.humidity }}%
      </td>
      <td>Le temps est {{ weatherModelCopy.currentConditions.conditions }}</td>
      <td>Le soleil se lève à {{ weatherModelCopy.currentConditions.sunrise }}</td>
      <td>le soleil se couche à {{ weatherModelCopy.currentConditions.sunset }}</td>
    </tr>
  </tbody>
</table>
